extends ../layouts/default

block headJs
    script(src = $vh.getStatic('/assets/index.js'))


block content
    -
        list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"]
    each item in list
        li= item

