doctype
html(lang="en")
    head
        block headTdk
            include ../partials/meta.jade
        block libJs
            include ../partials/lib.jade
        block headCss

        block headJs

    body
        block content
